<div class="text-white mx-auto">
    <h1 class="text-xl font-bold mb-2 text-center">Escolha Sua Equipe</h1>
    
    <!-- Organização em uma linha -->
    <div *ngIf="team$ | async as team" class="flex justify-center items-center flex-wrap space-x-1">
        <div class="bg-blue-600 rounded-lg p-1 w-20 h-20 flex items-center justify-center text-center">
            <img *ngIf="team.coordinator" [src]="team.coordinator.image" alt="{{ team.coordinator.name }}" class="w-100 h-100 rounded-lg">
            <p *ngIf="!team.coordinator" class="text-xs font-bold">Gestor</p>
        </div>
        <div class="bg-blue-600 rounded-lg p-1 w-20 h-20 flex items-center justify-center text-center">
            <p class="text-xs font-bold">Coordenador</p>
        </div>
        <div class="bg-green-600 rounded-lg p-1 w-20 h-20 flex items-center justify-center text-center">
            <p class="text-xs font-bold">Scrum Master</p>
        </div>
        <div class="bg-green-600 rounded-lg p-1 w-20 h-20 flex items-center justify-center text-center">
            <p class="text-xs font-bold">Product Owner</p>
        </div>
        <div class="bg-yellow-600 rounded-lg p-1 w-20 h-20 flex items-center justify-center text-center">
            <p class="text-xs font-bold">DEV 1</p>
        </div>
        <div class="bg-yellow-600 rounded-lg p-1 w-20 h-20 flex items-center justify-center text-center">
            <p class="text-xs font-bold">DEV 2</p>
        </div>
        <div class="bg-yellow-600 rounded-lg p-1 w-20 h-20 flex items-center justify-center text-center">
            <p class="text-xs font-bold">DEV 3</p>
        </div>
        <div class="bg-red-600 rounded-lg p-1 w-20 h-20 flex items-center justify-center text-center">
            <p class="text-xs font-bold">QA 1</p>
        </div>
        <div class="bg-red-600 rounded-lg p-1 w-20 h-20 flex items-center justify-center text-center">
            <p class="text-xs font-bold">QA 2</p>
        </div>
        <div class="bg-purple-600 rounded-lg p-1 w-20 h-20 flex items-center justify-center text-center">
            <p class="text-xs font-bold">Pet</p>
        </div>
    </div>
</div>
